.image {
    /* -webkit-box-shadow: 11px 10px 25px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 11px 10px 25px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 11px 10px 25px 0px rgba(0, 0, 0, 0.54); */
    -webkit-box-shadow: 25px 23px 46px -30px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 25px 23px 46px -30px rgba(0, 0, 0, 0.52);
    box-shadow: 25px 23px 46px -30px rgba(0, 0, 0, 0.52);
}